<div>
  <div class="row">
    <label class="col-2">Name</label>
    <div class="col-6">
      <span>{{ currentParticipant?.basic?.firstName }} {{ currentParticipant?.basic?.lastName }}</span>
    </div>
  </div>

  <div class="row">
    <label class="col-2">Gender</label>
    <div class="col-6">
      <span>{{ currentParticipant?.basic?.gender }}</span>
    </div>
  </div>

  <div class="row">
    <label class="col-2">Full Address</label>
    <div class="col-6">
      <span>{{ fullAddress }}</span>
    </div>
  </div>
</div>
